// src/components/fixed-input/index.module.scss
.wrapper {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  padding: 24rpx;
}

.scrollView {
  padding-bottom: 200rpx;
}

.inputContainer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 24rpx;
  transition: transform 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    top: -24rpx;
    left: 0;
    right: 0;
    height: 24rpx;
  }

  .input {
    flex: 1;
    border-radius: 48rpx;
    font-size: 28rpx;
    transition: all 0.3s;
    padding: 20rpx;
    // 背景色渐变 从#209090到#2777BF
    background: linear-gradient(to right, #209090 0%, #2777bf 100%);
    color: #fff;
  }
  .placeholder {
    color: #fff;
  }

  .sendBtn {
    margin-left: 20rpx;
    background-color: #209090;
    color: white;
    border-radius: 50px;
    padding: 0rpx 40rpx;
  }
}
